<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
</head>
<body>
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="leftNav">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" th:src="${session.loginUser.userAvatar}" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold" th:text="${'当前用户 : ' + session.loginUser.username}"></strong>
                            </span>
                            <!--<span class="text-muted text-xs block">工作</span>-->
                        </span>
                    </a>
                </div>
                <div class="logo-element" th:text="${application.ui.navTitle}">
                </div>
            </li>
            <li th:each="menuMap, mapStat:${session.userMenu}">
                <a>
                    <i th:class="${menuMap.key.icon}"></i>
                    <span class="nav-label" th:text="${menuMap.key.menuName}"></span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li th:each="menu, menuStat:${menuMap.value}">
                        <a th:href="${menu.menuURL}" th:text="${menu.menuName}"></a>
                    </li>
                </ul>
            </li>
            <li th:each="menu:${session.userMenuLevel1}">
                <a th:href="${menu.menuURL}">
                    <i th:class="${menu.icon}"></i>
                    <span class="nav-label" th:text="${menu.menuName}"></span>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://10.1.1.121:9080">
                    <i class="fa fa-link"></i>
                    <span class="nav-label">评估系统前台</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>