<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"></head>

<body>

<div id="wrapper">

    <div th:replace="layout/leftNav :: leftNav"></div>

    <div id="page-wrapper" class="gray-bg" th:with="homeUrl=${'/admin/index'}, typeUrl=${'/admin/department'}">
        <div th:replace="layout/topHeader :: topHeader"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>系统配置管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a th:href="${homeUrl}">首页</a>
                    </li>
                    <li>
                        <a th:href="${typeUrl}">部门管理</a>
                    </li>
                    <li class="active">
                        <strong>部门列表</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>部门添加</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" th:with="actionUrl=${'/admin/department/edit'}">
                            <form id="editForm" method="post" class="form-horizontal" th:action="${actionUrl}">
                                <input type="hidden" name="departmentId" th:value="${department.departmentId}">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">部门名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="departmentName" th:value="${department.departmentName}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">已有类别</label>
                                    <div class="col-sm-8">
                                        <div>
                                            <ul class="tag-list" style="padding: 0">
                                                <li th:each="haveType:${haveTypes}">
                                                    <a th:text="${haveType.typeName}"></a>
                                                    <input type="hidden" name="oldPermissionIds" th:value="${haveType.typeId}" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">重新选择类别</label>
                                    <div class="col-sm-8">
                                        <div class="checkbox checkbox-inline" th:each="type, typeStat:${types}" style="margin-left: 10px;">
                                            <input type="checkbox" th:id='${"type" + typeStat.index}' th:value="${type.typeId}" name="typeIds">
                                            <label th:for='${"type" + typeStat.index}' th:text="${type.typeName}"> </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-1">
                                        <button class="btn btn-white" type="button">返回</button>
                                        <button class="btn btn-primary pull-right" type="submit">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/bottomFooter :: bottomFooter"></div>

    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/template/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/template/js/bootstrap.min.js}"></script>
<script th:src="@{/template/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/template/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/template/js/plugins/validate/jquery.validate.min.js}"></script>

<script th:src="@{/template/js/plugins/dataTables/datatables.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/template/js/inspinia.js}"></script>
<script th:src="@{/template/js/plugins/pace/pace.min.js}"></script>

<script th:inline="javascript">
    $(function() {
        // 前台验证
        $("#editForm").validate({
            rules: {
                departmentName: {
                    required: true
                }
            },
            messages: {
                departmentName: {
                    required: "请填写部门名称"
                }
            }
        });
    });
</script>

</body>

</html>
