<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"></head>

<link th:href="@{/template/css/plugins/dropzone/basic.css}" rel="stylesheet">
<link th:href="@{/template/css/plugins/dropzone/dropzone.css}" rel="stylesheet">
<link th:href="@{/template/css/plugins/jasny/jasny-bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/template/css/plugins/codemirror/codemirror.css}" rel="stylesheet">
<link th:href="@{/template/css/plugins/datepicker/datepicker3.css}" rel="stylesheet">

<body>

<div id="wrapper">

    <div th:replace="layout/leftNav :: leftNav"></div>

    <div id="page-wrapper" class="gray-bg">
        <div th:replace="layout/topHeader :: topHeader"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>评估业务配置管理 </h2>
                <ol class="breadcrumb">
                    <li>
                        <a th:href="${'/'}">首页</a>
                    </li>
                    <li>
                        <a th:href="${'/admin/config'}">评估业务配置</a>
                    </li>
                    <li class="active">
                        <strong>设置</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>评估业务配置</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="editForm" method="post" class="form-horizontal" th:action="${'/admin/config'}">
                                <input type="hidden" name="configId" th:value="${config.configId}">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">开始评审日</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="configReviewStartDay" id="configReviewStartDay" th:value="${config.configReviewStartDay}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">结束评审日</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="configReviewEndDay" id="configReviewEndDay" th:value="${config.configReviewEndDay}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">前台用户阅读列表数据级别</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="configFrontReadLevel" name="configFrontReadLevel">
                                            <option value="0" th:text="自身级列表" th:selected="${config.configFrontReadLevel == 0}"></option>
                                            <option value="1" th:text="部门级列表"  th:selected="${config.configFrontReadLevel == 1}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-8">
                                        <button class="btn btn-white" type="button">返回</button>
                                        <button class="btn btn-primary" type="submit">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>评估业务配置</h5>
                            <!--<div class="ibox-tools">-->
                                <!--<a class="collapse-link">-->
                                    <!--<i class="fa fa-chevron-up"></i>-->
                                <!--</a>-->
                                <!--<a class="close-link">-->
                                    <!--<i class="fa fa-times"></i>-->
                                <!--</a>-->
                            <!--</div>-->
                        </div>
                        <div class="ibox-content">
                            <form method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">开始评审日</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" th:value="${config.configReviewStartDay}" readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">结束评审日</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" th:value="${config.configReviewEndDay}" readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">前台用户阅读列表数据级别</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" th:if="${config.configFrontReadLevel}==0" value="自身级列表" readonly/>
                                        <input type="text" class="form-control" th:if="${config.configFrontReadLevel}==1" value="部门级列表" readonly/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/bottomFooter :: bottomFooter"></div>

    </div>
</div>

<script th:src="@{/def/listPage.js}"></script>
<script th:src="@{/template/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/template/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/template/js/plugins/datepicker/bootstrap-datepicker.js}"></script>

<script th:inline="javascript">
    $(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "preventDuplicates": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        var msg = [[${message}]];
        var msgCode = [[${msgCode}]];

        if (msgCode == 200) {
            toastr.success(msg);
        } else if (msgCode == 500) {
            toastr.error(msg);
        }

        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]'
            // other options
        });

        $.fn.datepicker.dates['en'] = {
            days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            daysShort: ["日", "一", "二", "三", "四", "五", "六"],
            daysMin: ["日", "一", "二", "三", "四", "五", "六"],
            months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            today: "今日",
            clear: "清空",
            format: "yyyy-mm-dd",
            titleFormat: "yyyy MM", /* Leverages same syntax as 'format' */
            weekStart: 0
        };

        $('#configReviewStartDay').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: 'yyyy-mm-dd'
        });
        $('#configReviewEndDay').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: 'yyyy-mm-dd'
        });

        $('#editForm').validate({
            rules: {
                configReviewStartDay: {
                    required: true
                },
                configReviewEndDay: {
                    required: true
                }
            },
            messages: {
                configReviewStartDay: {
                    required: "请填写评审开始日"
                },
                configReviewEndDay: {
                    required: "请填写评审结束日"
                }
            }
        })
    })
</script>

<script th:src="@{/template/js/plugins/jasny/jasny-bootstrap.min.js}"></script>
</body>

</html>