<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"></head>

<body>

<div id="wrapper">

    <div th:replace="layout/leftNav :: leftNav"></div>

    <div id="page-wrapper" class="gray-bg" th:with="homeUrl=${'/admin/raterFile'}, typeUrl=${'/admin/user/rater'}">
        <div th:replace="layout/topHeader :: topHeader"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>基础信息管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a th:href="${homeUrl}">首页</a>
                    </li>
                    <li>
                        <a th:href="${typeUrl}">评审用户管理</a>
                    </li>
                    <li class="active">
                        <strong>评审用户数据列表</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>评审用户数据列表</h5>
                            <div class="ibox-tools" th:with="typeAddUrl=${'/admin/user/rater/add'}">
                                <a th:href="${typeAddUrl}">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example" >
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>密码</th>
                                        <th>登录名</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rateUser:${rateUsers}">
                                        <td th:text="${rateUser.raterUserName}"></td>
                                        <td th:text="${rateUser.raterUserPassword}"></td>
                                        <td th:text="${rateUser.raterUserAccount}"></td>
                                        <td>
                                            <a th:href="${'/admin/user/rater/edit/' + rateUser.raterUserId}">
                                                <button type="button" class="btn btn-m btn-warning">编辑</button>
                                            </a>
                                            <a th:href="${'/admin/user/rater/delete/' + rateUser.raterUserId}">
                                                <button class="btn btn-m btn-danger" data-toggle="confirmation"
                                                        data-btn-ok-label="确定" data-btn-ok-class="btn-success"
                                                        data-btn-ok-icon-class="material-icons" data-btn-ok-icon-content="check"
                                                        data-btn-cancel-label="取消" data-btn-cancel-class="btn-danger"
                                                        data-btn-cancel-icon-class="material-icons" data-btn-cancel-icon-content="close"
                                                        data-title="确定删除?" data-content="注意操作不可回滚">
                                                    删除
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>姓名</th>
                                        <th>密码</th>
                                        <th>登录名</th>
                                        <th>操作</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <div th:replace="layout/bottomFooter :: bottomFooter"></div>

    </div>
</div>

<script th:inline="javascript">
    $(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "preventDuplicates": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        var msg = [[${message}]];
        var msgCode = [[${msgCode}]];

        console.log(msgCode + " : " + msg);

        if (msgCode == 200) {
            toastr.success(msg);
        } else if (msgCode == 500) {
            toastr.error(msg);
        }
    });
</script>

<!-- Page-Level Scripts -->
<script th:src="@{/def/listPage.js}"></script>

</body>

</html>

